<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppStoreKeyID</key>
	<string>$(APP_STORE_KEY_ID)</string>
	<key>AppStoreIssuerID</key>
	<string>$(APP_STORE_ISSUER_ID)</string>
	<key>AppStorePrivateKey</key>
	<string>$(APP_STORE_PRIVATE_KEY)</string>
	<key>AppGroupID</key>
	<string>$(APP_GROUP_ID)</string>
	<key>CFBundleIdentifier</key>
	<string>$(BUNDLE_ID)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>modulite</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>moduliteapp</string>
			</array>
		</dict>
	</array>
	<key>INIntentsSupported</key>
	<array>
		<string>SelectMainWidgetConfigurationIntent</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>ArchivoSemiCondensed-Bold.ttf</string>
		<string>PixelOperator8-Bold.ttf</string>
		<string>SpaceGrotesk-Medium.ttf</string>
		<string>SpaceGrotesk-Light.ttf</string>
		<string>SpaceGrotesk-SemiBold.ttf</string>
		<string>SpaceGrotesk-Regular.ttf</string>
		<string>SpaceGrotesk-Bold.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
